.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  background-color: #2e1f1f;
  color: #dbaaaa;
}

.brand-name {
  font-size: 22px;
  padding-right: 25px;
  margin: 12px;
}

.search-box {
  padding: 0.4rem;
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  width: 70%;
}

.menu {
  padding-left: 35px;
  display: flex;
}

.menu-item {
  background-color: #c9c8c8;
  color: #262525;
  border: 1px solid transparent;
  padding: 0.35rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #a9a8a8;
}

.avatar {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
